* {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  overflow-x: hidden;
}
body {
  background-color: #191d21;
  min-height: 100vh;       /* zawsze co najmniej wysokość ekranu */
  display: flex;
  flex-direction: column;  /* kolumnowy układ */
  margin: 0;
}
nav {
  z-index: 3;
  position: sticky;
  border-radius: 0 0 10px 10px;
  top: 0;
  display: inline-flex;
  height: 55px;
  border-bottom: 2px black solid;
  width: 100vw;
  background-color: #191d21;
  background-image: url("../images/uwm_logo_white.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 85%;
  transition: background-position 0.5s;
}
a {
  min-width: 150px;
  text-align: center;
  height: 30px;
  z-index: 3;
  padding: 15px;
  text-decoration: none;
  color: rgb(71, 145, 255);
  font-weight: 1000;
}

.avatar img {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.avatar {
  position: absolute;
  right: 20px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none; 

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.hamburger {
  display: none;
  width: 35px;
  height: 35px;
  transform: translate(60%, 10%);
  cursor: pointer;
}

.stick{
  width: 100%;
  height: 5px;
  margin: 4px 0;
  background-color: white;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.hamburger .first,
.hamburger .second,
.hamburger .third{
  display: block;
}

.hamburger.active .first{
  transform: rotate(45deg) translate(9px, 9px);
}
.hamburger.active .second{
  opacity: 0;
}
.hamburger.active .third{
  transform: rotate(-45deg) translate(9px, -9px);
}



.nav-links {
  position: fixed;
  display: none;
  top: 55px;
  z-index: 3;
  overflow-x: 0;
  transition: all 0.5s ease;
}


.nav-links ul li {
  display: none;
  list-style-type: none;
}
.nav-links ul li:last-of-type {
  border-radius: 0 0 10px 0;
}

.nav-links ul li:hover {
  background-color: #2c343b;
  transition: background-color 0.3s ease;
}

.nav-links ul li {
  display: block;
  padding: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: #1a1d20;
  cursor: pointer;
}

@media (min-width: 1100.1px) {
  .nav-links {
    display: none !important;
  }
}


@media (max-width: 1100px) {
  nav a,
  nav .animation {
    display: none; /* Ukryj menu */
  }
  .hamburger {
    display: grid; /* Pokaż ikonę */
  }
  nav {
    background-position: center;
  }
}

@media (max-width: 390px) {
  nav {
    background-image: none;
  }
}

.avatar-links {
  display: none;
  position: fixed;
  top: 55px;
  right: 0;
  z-index: 3;
  transition: 0.5s ease;
}

@starting-style{
  .nav-links{
    opacity: 0;
    transform: translateX(-200px);
  }
  .avatar-links{
    opacity: 0;
    transform: translateX(200px);
  }
}


.avatar-links ul li {
  padding: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  background-color: #1a1d20;
  list-style-type: none;
}
.avatar-links ul li:last-of-type {
  border-radius: 0 0 0 10px;
}

/* MAIN CONTENT */

.main {
  flex: 1; /* zajmuje całą wolną przestrzeń */
  width: 80%;
  background-color: #2c343b;
  margin: 60px auto 0 auto; /* top margin dla nav */
  border-radius: 5px 5px 0 0;
}

/* karuzela z linkami */

.carousel{
  margin:auto;
  width: 70%;
  height: 20vh;

  display: flex;
  overflow-x: auto;
}
.carousel::-webkit-scrollbar{
  display: none;
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 10s infinite linear;
  gap: 1em;
  padding-right: 1em;
}

.card{
  flex: 0 1 5em;
  padding: 1em;
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}
.card a{
  height: 60%;
  width: 60%;
  align-content: center;
}
.card a img{
  height: 1.5em;
}


@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}

@keyframes fading {
  from{opacity: 1;}
  to {opacity: 0;}
  
}



/* FOOTER */
footer {
  background-color: #1a1717;
  width: 100%;
  min-height: 10vh;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
}

footer address {
  font-style: normal;
}

footer span {
  font-size: 14px;
}


/* SCROLL */
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #191d21;
}

::-webkit-scrollbar-thumb{
  background: #888;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}